<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 TRANSITIONAL//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	   
<h:head>
	 
	<title>GameShop Home Page</title>
	
</h:head>
	  
<body>

	<ui:composition template = "/layouts/commonLayout.xhtml">
		
		<ui:define name="content">
		
		<a href="Home.xhtml" class="submitButton">Home</a>
		
			<h3>Gameshop Product Creation Page</h3>
			
			<h:form>
				Product Name: <h:inputText value="#{product.name}"/>
				Product ID: <h:inputText value="#{product.id}"/>
				Product Price: <h:inputText value="#{product.price}"/>
				Product Quantity: <h:inputText value="#{product.quantity}"/>
			<h:commandButton action="#{formController.onProductSubmit()}" value="Submit" class="submitButton"/>
		</h:form>
	
			<center></center>
		
			<center><h:messages /></center>
		</ui:define>
		
		
	</ui:composition>

	


</body>  
	  
 
</html>