<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 TRANSITIONAL//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	   
<h:head>
	 
	<title>GameShop Home Page</title>
	
</h:head>
	  
<body>

	<ui:composition template = "/layouts/commonLayout.xhtml">
		
		<ui:define name="content">
		
			<h3>Delete a product</h3>
			
			<a href="Home.xhtml" class="submitButton">Home</a>
			
			<h:form>
				Product ID: <h:inputText value="#{product.id}"/>
				<h:commandButton action="#{formController.onDeleteSubmit()}" value="Submit" class="submitButton"/>
			</h:form>
    	
		</ui:define>
		
		
	</ui:composition>

	


</body>  
	  
 
</html>