<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<head>
	<style>
	.order-table {
		border:1px black solid;
	}
	
	.order-table-odd {
		background: #EEE;
	}
	.order-table-header {
		font-weight: bold;
	}
	</style>
	</head>
	
	
	<body>
	<h1>Response Page</h1>
	<p>Hello #{user.firstName}, I hope you are doing well.</p>
	<p>You last name is #{user.lastName}</p>
	
	<a href="NewProduct.xhtml" class="submitButton">New Product</a>
    <a href="DeleteProduct.xhtml" class="submitButton">Delete Product</a>
    <a href="UpdateProduct.xhtml" class="submitButton">Update Product</a>
	
	<center><h:dataTable value = "#{orders.orders}" var = "i" styleClass="order-table" headerClass="order-table-header" 
			rowClasses="order-table-odd, order-table-even">
			<h:column>
				<f:facet name = "header">Product ID</f:facet>
				#{i.id}
			</h:column>
		
			<h:column>
				<f:facet name = "header">Product Name</f:facet>
				#{i.name}
			</h:column>
		
			<h:column>
				<f:facet name = "header">Price</f:facet>
				#{i.price}
			</h:column>
		
			<h:column>
				<f:facet name = "header">Quantity</f:facet>
				#{i.quantity}
			</h:column>
		
		</h:dataTable></center>
	
	</body>
</html>